.Landing{
    position: static;
    width: 100%;
    background-color: #168aad;
    flex-direction: column-reverse;
    /* margin: 2rem; */ 
     display: flex; 
    justify-content: space-around;  
}

.Imagen{
    width: 100%;
    height:400px;
}

.Div{
    width: 100%;
    height: 400px;
    background-color: beige;
}